<template>
  <h1>Confirm Submission</h1>

  <div style="font-size:18px">
    <dl>
      <dt>${ 'name' | t }</dt>
      <dd>${applicant.name}</dd>

      <dt>${ 'familyName' | t }</dt>
      <dd>${applicant.familyName}</dd>

      <dt>${ 'address' | t }</dt>
      <dd>${applicant.address}</dd>

      <dt>${ 'country' | t }</dt>
      <dd>${applicant.countryOfOrigin}</dd>

      <dt>${ 'email' | t }</dt>
      <dd>${applicant.eMailAddress}</dd>

      <dt>${ 'age' | t }</dt>
      <dd>${applicant.age}</dd>
    </dl>
  </div>

  <button class="btn btn-primary" click.delegate="submit()" type="submit">Submit ${ 'applicant' | t }</button>

</template>
