﻿<template>
  <style>
    div.div {
      border: 1px solid blue;
      padding: 15px;
    }
  </style>

  <div class="div">
    <div>
      <h1>${title}</h1>
    </div>

    <div>
      <p1>${message}</p1>
    </div>

    <div>
      <button if.bind="showCancel" click.delegate="cancel()">Cancel</button>
      <button click.delegate="ok()">OK</button>
    </div>
  </div>
</template>