<template>
	<h1>${ 'applicant' | t}</h1>
	<form submit.delegate="addApplicant()">
		<div class="form-group">
			<label class="col-md-2 control-label" for="applicant.name">${ 'name' | t }</label>
			<div class="col-md-4">
				<input type="text" class="form-control" value.bind="applicant.name & validate" onblur="this.classList.add('is-dirty')">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="applicant.familyName">${ 'familyName' | t }</label>
			<div class="col-md-4">
				<input type="text" class="form-control" value.bind="applicant.familyName & validate" onblur="this.classList.add('is-dirty')">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="applicant.address">${ 'address' | t }</label>
			<div class="col-md-4">
				<input type="text" class="form-control" value.bind="applicant.address & validate" onblur="this.classList.add('is-dirty')">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="applicant.countryOfOrigin">${ 'country' | t }</label>
			<div class="col-md-4">
				<select class="form-control" value.bind="applicant.countryOfOrigin & validate" onblur="this.classList.add('is-dirty')">
					<option model.bind="null">--Select Country--</option>
					<option repeat.for="country of validCountries"
									model.bind="country">
						${country}
					</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="applicant.eMailAddress">${ 'email' | t }</label>
			<div class="col-md-4">
				<input type="text" class="form-control" value.bind="applicant.eMailAddress & validate" onblur="this.classList.add('is-dirty')">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="applicant.age">${ 'age' | t }</label>
			<div class="col-md-4">
				<input type="number" class="form-control" value.bind="applicant.age & validate" onblur="this.classList.add('is-dirty')">
			</div>
		</div>
		<button class="btn btn-primary" type="submit" disabled.bind="!applicant.isModelValid">Add ${ 'applicant' | t}</button>

		<button class="btn btn-danger" style="margin-left:20px" type="button" disabled.bind="!(applicant.name || applicant.familyName || applicant.address || applicant.age || applicant.countryOfOrigin || applicant.eMailAddress)"  click.delegate = "resetForm()">Reset Form</button>
	</form>
</template>
